@page "/"
@using QuizAppWeb.Shared
@using Microsoft.AspNetCore.Components
@using System.Diagnostics;
@inject HttpClient Http
@inject NavigationManager navigationManager

<PageTitle>Questions</PageTitle>


@if (qN == 1) //Starts the timer after the first question has been answered (once they are ready)
{
    timer.Start();
}


@if (MyQuiz.GetQuestion(qN) != null)
{
    <h1>Q.@(
          qN + 1
          )</h1>

    <p role="status">@MyQuiz.GetQuestion(qN).QuestionText</p>
    <hr>
    <button class="btn btn-primary" role="status" @onclick="args=>clicked = OnButtonClick(1, ref MyQuiz)">@MyQuiz.GetQuestion(qN).Answer1</button>
    <button class="btn btn-primary" role="status" @onclick="args=>clicked = OnButtonClick(2, ref MyQuiz)">@MyQuiz.GetQuestion(qN).Answer2</button>
    <button class="btn btn-primary" role="status" @onclick="args=>clicked = OnButtonClick(3, ref MyQuiz)">@MyQuiz.GetQuestion(qN).Answer3</button>
    <button class="btn btn-primary" role="status" @onclick="args=>clicked = OnButtonClick(4, ref MyQuiz)">@MyQuiz.GetQuestion(qN).Answer4</button>
    <hr />

    <img src="@images[qN]" width="854" height="480">
}
else
{
    timer.Stop();

    <h1>You scored @MyQuiz.Score / @MyQuiz.QuestionTotal (@Math.Round(GetPercentage(MyQuiz.Score, MyQuiz.QuestionTotal))%)</h1>

    <h3>@GetFeedback(MyQuiz.Score)</h3>


    <p>You finished in @timer.Elapsed.Seconds seconds.</p>

    <button class="btn btn-primary" role="status" @onclick="args => navigationManager.NavigateTo(url, true)">Try Again</button>
}







@if (clicked)
{
    clicked = false;
    qN++;
    StateHasChanged();
}





@code{
    private Quiz MyQuiz = new Quiz();
    private int qN = 0;
    private bool clicked = false;
    private Stopwatch timer = new Stopwatch();
    private string url = "";

    private string[] images = { "Images/Q1.png", "Images/Q2.jpg", "Images/Q3.jpg", "Images/Q4.jpg", "Images/Q5.jpg", "Images/Q6.jpg", "Images/Q7.jpg", "Images/Q8.jpg"};


    private static bool OnButtonClick(int aN, ref Quiz MyQuiz)
    {
        MyQuiz.CheckAnswer(aN);
        MyQuiz.GetNextQuestion();
        return true;

    }

    private static string GetFeedback(int score)
    {
        string output;

        if (score == 8)
        {
            output = "Full House! Nice job.";
        }
        else if (score > 5)
        {
            output = "Impressive, but some room for improvement.";
        }
        else if (score > 3)
        {
            output = "Not bad, but you could learn a thing or two";
        }
        else
        {
            output = "You have a lot to learn.";
        }

        return output;
    }

    private static double GetPercentage(double score, double total)
    {
        return (score / total) * 100;
    }

    



}

