@page "/"
@using QuizAppWeb.Shared
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Question @qN</h1>

@MyQuiz.GetQuestion(qN).QuestionText
<hr />
<button class="btn btn-primary" @onclick="args=>correct = MyQuiz.CheckAnswer(1)">@MyQuiz.GetQuestion(qN).Answer1</button>
<button class="btn btn-primary" @onclick="args=>correct = MyQuiz.CheckAnswer(2)">@MyQuiz.GetQuestion(qN).Answer2</button>
<button class="btn btn-primary" @onclick="args=>correct = MyQuiz.CheckAnswer(3)">@MyQuiz.GetQuestion(qN).Answer3</button>
<button class="btn btn-primary" @onclick="args=>correct = MyQuiz.CheckAnswer(4)">@MyQuiz.GetQuestion(qN).Answer4</button>

<hr />
@if (correct)
{
    <text>Correct</text>
}




@code{
    private Quiz MyQuiz = new Quiz();
    private Question ThisQuestion;
    private int qN = 0;
    private bool correct = false;


}